.container_dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    width: 100vw;
  }
  
  .main {
    display: flex;
    flex-grow: 1;
  }
  
  .sidebar {
    width: 15%; 
    background-color: #f8c8d8; 
  }
  
  .content {
    flex-grow: 1; 
    background-color: #fff; 
    padding: 20px; 
  }
  
  .appbar {
    display: flex;
    background-color: #f8e3c8; 
    height: 10%;
  }
  .content_card{
    display: grid;
    place-content: center;
    place-items: center;
    margin-top: 10px;
    width: 260px;
    height: 240px;
    background-color: aqua;
    border-radius: 12px;
  }

  .img_product {
    height: 160px;
    width: 180px;
  }