.form_container_register {
    display: grid;
    gap: 10px;
    place-items: center;
}

.inputs_register {
    width: 350px;
    height: 40px;
    border-radius: 12px;
    border: none;
}

.container_button_register{
    display: grid;
    margin-top: 10px;
    place-items: center;
}

.container_register_back{
    width: 100%;
    height: 100%;
    .button_back {
        width: 25%;
        height: 70%;
    }
    .img_button{
        width: 10px;
        height: 10px;
    }
}

.button_register {
    width: 355px;
    height: 40px;
    border-radius: 12px;
    border: none;
}

.button_register:hover {
    background-color: rgb(154, 153, 152);
    cursor: pointer;
}